process {

    resourceLimits = [
        cpus:   24,
        memory: 128.GB,
        time:   96.h
    ]

    withLabel: process_single {
        cpus   = 1
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    errorStrategy = {
        task.exitStatus in [104, 110, 137, 139, 143] && task.attempt <= 3
            ? 'retry'
            : 'finish'
    }
    maxRetries = 3
}
